<div class="form-container">
  <form [formGroup]="registerForm">
  <p>
    <mat-form-field appearance="outline" class="registerform">
      <mat-label>First name</mat-label>
      <input matInput formControlName="firstName" (keyup)="fieldKeyUp()">
      <mat-error *ngIf="showFormError(registerForm, 'firstName')">This field is required</mat-error>
      <mat-hint>This is the place where you input your first name</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="registerform">
      <mat-label>Last name</mat-label>
      <input matInput formControlName="lastName" (keyup)="fieldKeyUp()">
      <mat-error *ngIf="showFormError(registerForm, 'lastName')">This field is required</mat-error>
      <mat-hint>This is the place where you input your last name</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="registerform">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" type="email" (keyup)="fieldKeyUp()">
      <mat-error *ngIf="showFormError(registerForm, 'email')">This field is required</mat-error>
      <mat-error *ngIf="showErrorInEmail(registerForm)">This email address is not valid</mat-error>
      <mat-hint>This is the place where you input your email address</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="registerform">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" (keyup)="fieldKeyUp()" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="showFormError(registerForm, 'password')">This field is required</mat-error>
      <mat-hint>This is the place where you input your password</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" class="registerform">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmPassword" (keyup)="fieldKeyUp()" [type]="confirmHide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="confirmHide = !confirmHide">{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="showFormError(registerForm, 'confirmPassword')">This field is required</mat-error>
      <mat-hint>This is the place where you confirm your password</mat-hint>
    </mat-form-field>
  </p>
</form>
  <p>
    <mat-checkbox color="primary" class="slider" [(ngModel)]="checkPrivacyPolicy">Check me if you accept our privacy policy</mat-checkbox>
  </p>
  <p>
    <mat-slide-toggle color="primary" class="slider" [(ngModel)]="keepSingIn">Sign me in after sign up</mat-slide-toggle>
  </p>
  <p>
    <button mat-raised-button class="mat-elevation-z5" color="primary" (click)="submitSignUpForm()" [disabled]="!checkPrivacyPolicy || registerForm.invalid">Sign Up</button>
  </p>
  <p *ngIf="registeredUserId">User registered {{ registeredUserId }}</p>
</div>
