 .form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-style: normal;
 }

 p {
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
 }

 .registerform {
   width: 20em;
 }

 .slider {
   font-size: .85em;
 }
