<nav class="header mat-elevation-z10">
  <mat-toolbar color="primary"><span class="header-title">Welcome {{ userIn }} in {{ title }}</span></mat-toolbar>
  <div class="header-item" routerLink="/home" routerLinkActive="header-item-active">Home</div>
  <div class="header-item" routerLink="/messages" routerLinkActive="header-item-active" *ngIf="isLoggedIn$ | async">Messages</div>
  <div class="header-item" routerLink="/about" routerLinkActive="header-item-active">About</div>
  <div class="header-item" routerLink="/details" routerLinkActive="header-item-active" *ngIf="isLoggedIn$ | async">Details</div>
  <div class="header-item" routerLink="/register" routerLinkActive="header-item-active" *ngIf="isLoggedOut$ | async">Sign up</div>
  <div class="header-item" routerLink="/login" routerLinkActive="header-item-active">Sign in</div>
  <div class="header-item" (click)="logout()" *ngIf="isLoggedIn$ | async">Sign out</div>
</nav>
