<div class="form-container">
  <form [formGroup]="loginForm" autocomplete="off">
    <p>
      <mat-form-field appearance="outline" class="loginform">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" (keyup)="fieldKeyUp()">
        <mat-error *ngIf="showFormError(loginForm, 'email')">This field is required</mat-error>
        <mat-error *ngIf="showErrorInEmail(loginForm)">This email address is not valid</mat-error>
        <mat-hint>This is the place where you input your email address</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" class="loginform">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" (keyup)="fieldKeyUp()" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="showFormError(loginForm, 'password')">This field is required</mat-error>
        <mat-hint>This is the place where you input your password</mat-hint>
      </mat-form-field>
    </p>
  </form>
  <mat-slide-toggle color="primary" class="slider" [(ngModel)]="keepSignIn">Keep me sign in</mat-slide-toggle>
  <p>
    <button mat-raised-button class="mat-elevation-z5" color="primary" [disabled]="loginForm.invalid" (click)="submitLoginForm()">Sign In</button>
  </p>
</div>
